<h1 id="csbusnome-temporario">CSBus(Nome temporário)</h1>
<p>Esse projeto foi criado pelo fato de que o site de empresa Costa Sul ,responsável pelo transporte inter-municipal em alguns municípios do sul do Espirito Santo,não fornecia uma api que permitisse acessar informações como horários e rotas dos ônibus,
e optei pelo framework Sinatra devido a simplicidade de lidar com com a arquitetura REST , fornecendo esses dados tanto em json.</p>
<p><em>URLs</em> disponiveis:<br/>
GET <a href="/routes.json" target="_blank"><strong>/routes.json</strong></a> : retorna a listagem com todas a informações no formato json.<br/>
Esse é o link do <a href="http://csbus.herokuapp.com/">serviço </a> no heroku.</p>